__pycache__/
*.pyc
*.pyo
.git/
.gitignore
test.ipynb
env.yml
README.md
LICENSE
config.toml
config_template.toml
metadata/
log/
temp/
我的Pixiv公开收藏夹/
bot-api-server/
.env
.dockerignore
docker-compose.yml
